@model List<Tipo>
@{
    ViewData["Title"] = "Tipos de Instrumentos";
}
@{
    //int idFamilia = ViewBag.idFamilia;
}

<h1 class="page-title">Tipos de Instrumentos</h1>


@if(Model.Count > 0)
{
    @if (Context.User.FindFirst("Admin") != null)
    {

        int idFamilia = ViewBag.idFamilia;

        <button type="button">Añadir Tipo</button>
        <form method="post" asp-controller="Tipos" asp-action="Index" enctype="multipart/form-data">
            <label>Nombre</label>
            <input type="text" name="Nombre" />
            <input type="hidden" name="IdFamilia" value="@idFamilia" />
            <button type="submit" name="accion" value="add">Añadir</button>
            <button type="submit" name="accion" value="cancelar">Cancelar</button>
        </form>

        <ul class="tipos-grid">
            @foreach (Tipo tipo in Model)
            {
                <li>
                    <a asp-controller="Subtipos" asp-action="Index" asp-route-idTipo="@tipo.IdTipo" class="tipo-card">
                        <span>@tipo.Nombre</span>
                    </a>
                    <a asp-controller="Tipos" asp-action="Eliminar" asp-route-idTipo="@tipo.IdTipo"
                       asp-route-idFamilia="@tipo.IdFamilia">
                        Eliminar
                    </a>
                </li>
            }
        </ul>
        
    }
    else
    {
        <ul class="tipos-grid">
            @foreach(Tipo tipo in Model)
            {
                <li>
                    <a asp-controller="Subtipos" asp-action="Index" asp-route-idTipo="@tipo.IdTipo" class="tipo-card">
                        <span>@tipo.Nombre</span>
                    </a>
                </li>
            }
        </ul>      
    }
}
else
{
    <div class="empty-message">
        <i class="bi bi-inbox"></i>
        <h2>No hay Tipos disponibles</h2>
    </div>
}